.App {
    height: 100vh;
    display: flex;
}

body{
    margin: 0;
    padding: 0;
}

.Sidebar{
    height: 100%;
    width: 250px;
    background-color: #323f52;
    padding-top: 10px;
}

.SidebarList{
    height: auto;
    padding: 0;
    width: 100%;
    
}

.SidebarList .row {
    height: 60px;
    list-style-type: none;
    margin: 0%;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.SidebarList .row:hover{
    cursor: pointer;
    background-color: #2c3745;
}

.SidebarList  #active{
    background-color:  #2c3745;
}

.row #icon{
    flex: 30%;
    display: grid;
    place-items: center;
}

.row #title{
    flex: 70%;
}

.userimg {
    vertical-align: middle;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
  margin-bottom: 20px;
}

.notification {
    margin-left: 10px;
}


.chat{
    float: right;
    margin-right: 10px;

}
.mainbook{
    height: 300px;
    width: 1100px;
    border: 1px solid black;
}

.content{
    margin-left: 20px;
}

.title{
    font-size: 20px;
    font-weight: bold;
    color: black;
}
.libraryheader{
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
}

.favbook{
    display: flex;
}
.book{
    height: 370px;
    width: 238px;
    border: 1px solid black;
    margin-right: 50px;
}
.viewall{
    background-color: rgb(191, 188, 188);
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
}
