.App {
    height: 100vh;
    display: flex;
}

body{
    margin: 0;
    padding: 0;
}

/* .Sidebar{
    height: 100%;
    width: 250px;
    background-color: #323f52;
    padding-top: 10px;
} */

.Sidebar {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    /* font-size: 30px; */
    line-height: 36px;

    /* color: #ecc8c8; */

    position: absolute;
    /* width: 17em; */
    width: 300px;
    height: 100%;
    top: 100;
    /* bottom: 0; */
    background-color: #f5f0f0;

    overflow: hidden;
    /* background-color: #c7d3dd; */
    -webkit-transform: translateZ(0);
    visibility: visible;
    -webkit-backface-visibility: hidden;
}

.SidebarList{
    height: auto;
    padding: 0;
    width: 100%;
    
}

.SidebarList .row {
    height: 60px;
    list-style-type: none;
    margin: 0%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.SidebarList .row:hover{
    cursor: pointer;
    background-color:  gray;

}

.SidebarList  #active{
    background-color:  gray;
}

.row #icon{
    flex: 30%;
    display: grid;
    place-items: center;
}

.row #title{
    flex: 70%;
}

.userimg {
    vertical-align: middle;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
  margin-bottom: 20px;
}

.notification {
    margin-left: 10px;
}


.chat{
    float: right;
    margin-right: 10px;

}
.mainbook{
    border: 1px solid black;
}

.content{
    margin-left: 20px;
}

.title{
    font-size: 20px;
    font-weight: bold;
    color: black;
}
.title1{
    font-size: 48px;
    font-weight: bold;
    color:  #F82D11;
    
}
.libraryheader{
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
}

.libraryheader1{
    display: flex;
    
    padding-right: 50px;
}

.favbook{
    display: flex;
}
.book{
    height: 370px;
    width: 238px;
    border: 1px solid black;
    margin-right: 50px;
}
.viewall{
    background-color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
}

.bookDetails{
    padding: 2rem 0;
}
.backBtn{
    margin-left: 20px;
    margin-bottom: 2.6rem;
    transition: var(--transition);
}
.backBtn:hover{
    color: var(--purple-color);
}
.backBtn span{
    margin-left: 1rem;
}

.bookDetails{
    display: block;
}

.bookDetailsContent{
    display: flex;
    
    border: 1px solid rgb(226, 224, 224);
    border-radius:5px;
}
.bookDetailsImg{
    max-height: 600px;
    overflow: hidden;
    width: 600px;
    height: 700px;
}
.bookDetailsImg img{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.bookDetailsItem{
    margin-bottom: 1.4rem;
}
.bookDetailsItem.description{
    opacity: 0.8;
}
.bookDetailsInfo{
    overflow-y: scroll;
    max-height: 600px;
    padding: 1.4rem;
}
.bookDetailsInfo::-webkit-scrollbar{
    width: 8px;
}
.bookDetailsInfo::-webkit-scrollbar-track{
    border-radius: 8px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);

}
.bookDetailsInfo::-webkit-scrollbar-thumb{
    background-color: var(--purple-color);
    outline: -1px solid slategray;
    border-radius: 8px;

}

@media screen and (min-width: 768px){
    .book-details-content{
        grid-template-columns: 40% 60%;
        gap: 0
    }
    .book-details-img{
        padding: 0 6rem 0 2rem;
    }
    .book-details-img img{
        max-width: 100%;
    }
}