.mainRead {
    display: flex;
    /* flex-direction: column; */
    margin: 20px;
}


.beforeMain {
    flex: 1;
}

.afterMain {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-weight: 900;
    background-color: rgb(116, 161, 161);
    border-radius: 10px;
    justify-content: center;
    justify-items: center;
}

.contentRead {
    flex: 3;
}

.titleAfterMain {
    grid-column: 1/3;
    font-size: 25px;
}

.beforeMain img {
    width: 100%;
    object-fit: contain;
    /* width: 50px; */
}