.title {
    color: blue;
}

.navbar__header {
    display: flex;
    height: 80px;
    background-color: rgb(141, 219, 202);
}

.navbar {
    background-color: rgb(214, 245, 246) !important;
}

.nav-item img {
    margin-right: 50px;
}

.bell {
    width: 20px;
    height: 20px;
}

.book {
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.navbar>.container-fluid a {
    color: #3679e0 !important;
    font-weight: 500;
    font-size: 20px;

}

/* .test {
    background-color: rgb(207, 147, 16) !important;
} */

.background {
    width: 100%;
    /* height: 100px; */
}




.background img {
    object-fit: cover;
    width: 100%;
    height: 400px;
}