body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bodyHome {
  /* font-size: 50px; */
  display: flex;
  /* padding: 10px; */
  /* height: 600px; */
  /* padding-top: 35px; */

  /* padding-bottom: 50px; */
  /* border: 2px solid coral; */
  border-radius: 10px;
  height: 1000px;
  /* padding-bottom: 30px; */
}